@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
   font-family: 'Creepster', cursive;
}

body{
   background-image: url(./wp3172265.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.App {
   text-align: center;
}

::-webkit-scrollbar{
   width: 8px;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb{
   background: rgb(147, 145, 145);
   height: 5px;
}