@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
   font-family: 'Creepster', cursive;
}

body{
   background-image: url(./components/imagenes/rick_and_morty-2-995x498.jpg);
   background-repeat: none;
   background-size:cover;
}
.App {
   text-align: center;
}